<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@species_stat"/>
    <meta name="twitter:title" content="Species-Stat Results for @{{summary_username}}"/>
    <meta name="twitter:description" content="{{summary.text_summary}}"/>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>
    <title>Species-Stat Results for @{{summary_username}}</title>
    <style>
      html {
      }

      body {
      color: #101010;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
      }

      div#chart_div {
      width: 100%;
      height: 30em;
      }

      pre {
      color: black;
      background-color: white;
      padding: 0.5em;
      margin: 0 2em;
      border: solid;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">Results for <img src={{summary_icon_url}}/>@{{summary_username}}</h1>
    <div id="chart_div"></div>

    <script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Species');
      data.addColumn('number', 'Yours');
      data.addColumn('number', 'Baseline');
      data.addColumn('number', 'Relative Frequency');

      data.addRows([
{% for species,delta,yours,baseline in summary.deltas %}
['{{species}}', {{yours}}, {{baseline}}, {{delta}}],
{% endfor %}
      ]);

var formatter = new google.visualization.NumberFormat({pattern: '#.#%'});
formatter.format(data, 1);
formatter.format(data, 2);
formatter.format(data, 3);
      var options = {
hAxis: {slantedTextAngle: 90},
vAxis: {format: 'percent'},
vAxes: {
0: {gridlines: {count: 0}},
1: {gridlines: {color: '#8080f0'}}
},

seriesType: 'bars',
series: {
0: {color: '#e08040'},
1: {color: '#f0e0c0'},
2: {type: 'line', targetAxisIndex:1, color: '#8080f0'}
}};

      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_div'));

      chart.draw(data, options);
    }

    </script>
    {% if own_results %}
    <p>Want to share your results? Here you go:</p>
    <pre>{{ request.build_absolute_uri }}</pre>
    <p>If you wish to take the survey on another account, you may <a href="{{logout_url}}">log out</a></p>
    {% else %}
    <p><a href="{{root_url}}">Go ahead and take the survey for yourself!</a></p>
    {% endif %}
  </body>
</html>
